
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container">
      <a routerLink=""  class="navbar-brand">
        <img  src="/assets/logo.png" />
      </a>
      <a  ><img src="/assets/carrinho.png" /></a>
    </div>
  </nav>

<!---Deixar o site DARK depois-->

  <div class="menu" >
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="" >Destaques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/indie" >Indies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rpg" >RPG</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="banner">
    <img src="/assets/banners/img1_.jpg" />
  </div>


